.container {
  padding: 32px;
  color: black;
}

.skyblue {
  background-color: skyblue;
}

.darkred {
  background-color: darkred;
  color: whitesmoke;
}

.goldColor {
  background-color: gold;
}

.crimsonColor {
  background-color: crimson;
  color: whitesmoke;
}
